/* App.css */
.container {
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  background-color: #8addc4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Form Fields */
label {
  font-size: 1rem;
  color: #333;
}

input[type="text"], input[type="password"], input[type="number"], select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #f8f8f8;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #396ba0;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: #007bff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 15px;
}

a:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 1.5rem; /* Adds spacing between form groups */
}

/* Style the Form.Label */
.form-label {
  font-size: 1.2rem; /* Increase label font size */
  font-weight: bold;
  margin-bottom: 10px;
}

/* Container for the checkboxes, using flexbox for alignment */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;  /* Allow the checkboxes to wrap if necessary */
  gap: 20px; /* Adds spacing between checkboxes */
}

/* Style each checkbox item */
.checkbox-item {
  display: flex;
  align-items: center; /* Vertically center align the checkbox and label */
  gap: 5px; /* Add space between checkbox and label */
}

/* Optional: Add some spacing for checkboxes at larger screen sizes */
@media (min-width: 768px) {
  .checkbox-group {
    flex-wrap: nowrap;  /* Prevent wrapping on larger screens */
  }
}